<a href="https://colab.research.google.com/github/lillybethw/DS1002/blob/main/Assignments/07_More_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [2]:
# Load pandas and the data
import pandas as pd
df = pd.read_csv("https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv")
df.head(5)

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_size
0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male,26
1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male,27
2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male,29
3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male,26
4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male,27

In [3]:
# show how many rows and columns are in this dataset
df.shape

(25760, 10)

In [4]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
df['duration'] = df['duration'].str.strip('minutes')
df['duration'] = df['duration'].astype('int')

In [5]:
# Now display the datatypes in the updated dataframe
df.dtypes

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [6]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
print(df.duration.min())
print(df.duration.max())

1
1372

In [7]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.
df_hour = df.query('duration <= 60')

In [8]:
# Now show both the min and max values of the duration column for your new dataset.
print(df_hour.duration.max())
print(df_hour.duration.min())

60
1

In [9]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
df_tire = df_hour.query('tire_size == 26')

In [10]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.
sum(df_tire.user_gender=='Female')

2962

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [145]:
iris_df = pd.read_csv('more-messy-data.csv')
iris_df.head(20)

    id  sepal_length  sepal_width  petal_length petal_width     species
0    1           3.5          2.9           1.4         0.5   virginica
1    2           3.6          3.2           3.0         0.5      setosa
2    3           3.8          NaN           2.2         1.5      setosa
3    4           5.8          2.7           2.6         1.2   virginica
4    5           4.9          3.6           3.0         1.2   virginica
5    6           5.0          2.7           1.4         2.3      setosa
6    7           4.8          3.0           2.6         1.4      setosa
7    8           5.5          2.2           2.1         2.1   virginica
8    9           5.5          2.9           1.1           3      setosa
9   10           NaN          3.4           2.6         1.9   virginica
10  11           3.7          2.1           1.4         1.3      setosa
11  12           NaN          3.5           1.6        gg28      setosa
12  13           4.7          2.0           1.2         1.9   virginica
13  14           6.0          NaN           1.1         2.6   virginica
14  15           3.3          2.7           2.9         0.4      setosa
15  16           4.1          3.5           1.9         0.7  Versicolor
16  17           4.6          2.9           2.1         2.6   virginica
17  18           3.7          2.6           1.3         0.9      setosa
18  19           5.5          2.5           1.8         1.8   virginica
19  20           3.7          2.4           1.2         NaN      setosa

In [146]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
sum(iris_df.duplicated())

287

In [147]:
# Next, remove all duplicate rows using Python.
iris_df = iris_df.drop_duplicates()

In [148]:
# getting rid of 'gg' that's in some of the rows
iris_df['petal_width'] = iris_df['petal_width'].str.strip('gg')

In [149]:
iris_df['petal_width'] = pd.to_numeric(iris_df['petal_width'])

In [150]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean.
iris_df['sepal_length'] = iris_df['sepal_length'].fillna(iris_df.sepal_length.mean())
iris_df['sepal_width'] = iris_df['sepal_width'].fillna(iris_df.sepal_length.mean())
iris_df['petal_length'] = iris_df['petal_length'].fillna(iris_df.petal_length.mean())
iris_df['petal_width'] = iris_df['petal_width'].fillna(iris_df.petal_width.mean())

In [151]:
iris_df.head(12)

    id  sepal_length  sepal_width  petal_length  petal_width    species
0    1      3.500000     2.900000           1.4          0.5  virginica
1    2      3.600000     3.200000           3.0          0.5     setosa
2    3      3.800000     4.522004           2.2          1.5     setosa
3    4      5.800000     2.700000           2.6          1.2  virginica
4    5      4.900000     3.600000           3.0          1.2  virginica
5    6      5.000000     2.700000           1.4          2.3     setosa
6    7      4.800000     3.000000           2.6          1.4     setosa
7    8      5.500000     2.200000           2.1          2.1  virginica
8    9      5.500000     2.900000           1.1          3.0     setosa
9   10      4.522004     3.400000           2.6          1.9  virginica
10  11      3.700000     2.100000           1.4          1.3     setosa
11  12      4.522004     3.500000           1.6         28.0     setosa

In [152]:
# Find any values in the dataframe that are still missing, and delete them.
iris_df = iris_df.dropna()
iris_df.isnull().sum() # verify

id              0
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [153]:
# How many different species are there?
iris_df['species'].value_counts()

setosa        481
virginica     444
Versicolor     27
setoso          2
Virginia        2
Virginica       2
Setosa          2
Viginica        1
Setosan         1
versicolor      1
Name: species, dtype: int64

In [154]:
# Clean up the 'species' variable so that there are exactly three different values.
misspelling = {
    'Versicolor': 'versicolor',
    'setoso': 'setosa',
    'Virginia': 'virginica',
    'Virginica': 'virginica',
    'Setosa': 'setosa',
    'Viginica': 'virginica',
    'Setosan': 'setosa'
}

iris_df['species'] = iris_df['species'].replace(misspelling)

In [155]:
iris_df['species'].value_counts() #verify

setosa        486
virginica     449
versicolor     28
Name: species, dtype: int64

3. Bonus:  Regular expressions

Ordinary (non-vanity) Virginia license plates have the form `ABC1234`, meaning they have three upper case letters followed by four digits.  Write a regular expression that matches any string of this form (and doesn't match anything else).  Test your expression with code to make sure it works.

To figure out out how to do this, start with the sample code below.  The `re` package has various functions related to regular expressions, including for example `match()`, which takes two arguments, first the regular expression and second the test string, and tests to see whether the *beginning* of the `test` string matches the pattern `exp`.

Note that `re.match(exp,test)` does not return a boolean variable, as you might expect (in other words, a match doesn't return `True` and a non-match `False`).  The type of object you get is called `re.Match`, which is a data type special to the `re` package.  (The reason for this is that the object contains more information than just whether there is a match or not.) However, you can turn it into a boolean using `bool()` if you want.

Include the following in the notebook you submit:

 1. A regular expression in a text chunk
 2. One or more code chunks in which you test several strings to verify that your regex is correct.
 3. Make sure you display the results of testing various strings.

 See this [documentation page](https://docs.python.org/3/howto/regex.html#regex-howto) for further help.

In [ ]:
# Sample code for testing whether a string matches a regex

# First import this package for working with regular expressions
import re

# Here is an example.
# Play around with different expressions and test strings to see what happens.
exp = 'ab+'
test = 'aabbbc'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

# uncomment this line if you want
# print(type(re.match(exp,test)))

# uncomment this line if you want
# print(bool(re.match(exp,test)))